html {
  background-color: #eee;
}

body {
  text-align: center;
  margin: 20px auto;
  min-width: 500px;
  max-width: 60%;
  border: 4px double #222;
  background-color: white;

  font-family: Courier, monospace;
}

nav {
  border-top: 3px solid #222;
  border-bottom: 2px solid #222;
  min-width: 490px;
  max-width: 570px;
  margin: 20px auto;
  padding: 15px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  text-transform: uppercase;
  display: inline;
  margin-right: 2em;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.on {
  color: rgb(200, 100, 100);
}

p {
  min-width: inherit;
  max-width: 600px;
  margin: 20px auto;
}
